.align-components{
    margin-top: 70px;
    width: 1400px;
    display: block;
    margin-left: 15%;
    margin-right: auto;
}

@media screen and (width: 360px) {
  .align-components{
      height: 640px;
      width: 360px;
  }
}

div.vertical-line{
    width: 1px; /* Line width */
    background-color: black; /* Line color */
    height: 100%; /* Override in-line if you want specific height. */
    float: left; /* Causes the line to float to left of content.
        You can instead use position:absolute or display:inline-block
        if this fits better with your design */
}

.style-side-nav{
    border-right: 1px solid lightgray;
    height: 100%;

}

.root-div{
    height: 100%;
}

