.card-style{
    width: 60%;
    height: auto;
    padding: 3px;
}

.body-text{
    margin: 20px;
    font-size: 12px;

}

.header{
    text-align: center;
    vertical-align: middle;
    margin-right: 300px;
    color: #56276f;
}

.title-text{
    font-weight: bold;
}

.no-selected-note{
    margin-right: 240px;
}
