.edit-and-add-modal-{
    width: 40% !important;
    height: auto;
    max-height: 600px;
    overflow-y: hidden !important;
}

.modal-button{
    background-color: #56276f;
}

.delete-modal{
    width: 40% !important;
    height: auto;
    overflow-y: hidden !important;
}

.delete-btn{
 width: 50%;
}

.cancel-btn{
    background-color: #ffffff;
    margin-left: 15px;
    color:#000;
}

.error-message-title-and-body{
    color: red;
    font-size: 10px;
    margin-left: 6px;
    margin-bottom: 5px;
}


.auto-height-modal{
    height: auto;
}
