.list-title{
    font-size: 15px;
    margin-top: 20px;
    font-weight: lighter;
    margin-right: 7px;
}

.delete-icon{
    color: #752d91;
    margin-left: 22px;
    margin-right: 22px;
    cursor: pointer;

}

.edit-icon{
    color: #752d91;
    margin-left: 22px;
    cursor: pointer;
}

.icon-folder{
    width: 40%;
    height: 40%;
}

.list{
    margin-right: 20px;
    cursor: pointer;
}

.header{
    color: #56276f;
}

.align-edit-and-delete-icons{
    margin-left: 700px;
}

@media screen and (max-width: 360px) {
    .list{
        float: none;
        width: 100%;
        cursor: pointer;
    }

    .list-title{
        font-size: 15px;
        margin-top: 20px;
        font-weight: lighter;
        right: 12px;
    }

    .edit-icon{
        color: #752d91;
        margin-left: 50px;
        cursor: pointer;
    }

    .align-edit-and-delete-icons{
        margin-left: 700px;
    }
}
